In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
bank_data=pd.read_csv('UniversalBank.csv')
print(bank_data.head())

   ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  Mortgage  \
0   1   25           1      49     91107       4    1.6          1         0
1   2   45          19      34     90089       3    1.5          1         0
2   3   39          15      11     94720       1    1.0          1         0
3   4   35           9     100     94112       1    2.7          2         0
4   5   35           8      45     91330       4    1.0          2         0

   Personal Loan  Securities Account  CD Account  Online  CreditCard
0              0                   1           0       0           0
1              0                   1           0       0           0
2              0                   0           0       0           0
3              0                   0           0       0           0
4              0                   0           0       0           1

In [8]:
bank_data = bank_data.drop(columns=['ID', 'ZIP Code'], errors='ignore')

In [9]:
x = bank_data.drop('Personal Loan', axis=1)
y = bank_data['Personal Loan']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [11]:
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

print("\nFirst 5 rows of X_train:")
print(x_train.head())

print("\nFirst 5 rows of X_test:")
print(x_test.head())

x_train: (3500, 11)
x_test: (1500, 11)
y_train: (3500,)
y_test: (1500,)

First 5 rows of X_train:
      Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
1840   55          25      23       4    0.4          3        88
2115   57          31      30       3    1.4          1         0
4437   63          38      63       2    1.5          1         0
1146   31           7      71       1    0.1          1        78
2486   61          36     130       1    1.3          1       257

      Securities Account  CD Account  Online  CreditCard
1840                   0           0       0           0
2115                   0           0       0           0
4437                   0           0       1           0
1146                   1           0       0           0
2486                   0           0       0           0

First 5 rows of X_test:
      Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
1501   30           4      35       2    0.3          2         0
2586   47          23     149       4    6.1          1         0
2653   30           5     121       2    3.1          1       408
1055   31           6      62       1    1.0          1         0
705    62          36      30       3    0.7          2         0

      Securities Account  CD Account  Online  CreditCard
1501                   1           0       0           1
2586                   0           0       0           1
2653                   0           0       1           0
1055                   1           0       1           0
705                    0           0       1           0

In [12]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
#converting to dataframe
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x.columns)

In [13]:
print("Training shape:", x_train_scaled.shape)
print("Testing shape:", x_test_scaled.shape)

Training shape: (3500, 11)
Testing shape: (1500, 11)